              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#reading">
                      论文笔记
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#linux">
                      Linux学习
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#DL">
                      深度学习
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#CV">
                      计算机视觉
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
             <!-- <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#java">
                      Java开发
                    </a>
                  </li>                  
		  <li>
                    <a href="/categories.html#cocos2d">
                      Cocos2d开发
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#web">
                      Web开发
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#network">
                      网络相关
                    </a>
                  </li>
                </ul>
              </div>-->
              <!-- /.col-lg-6 -->
